/*POP-IN NEWSLETTER*/
#newsletter-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.newsletter-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px !important;
    height: 350px;
  }

.newsletter-modal-content > h4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#button-newsletter-modal {
    padding-left: 100px;
    padding-right: 100px;
}

.close-newsletter-modal {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: right;
  }
  
.close-newsletter-modal:hover, .close-newsletter-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/*COMPTE A REBOURS*/
#countdown {
    display: flex;
    justify-content: right;
    font-size: 30px;
}


/*MARGE SUR LES 2 ELEMENTS DE CLASSE "GRADIENT"*/
.gradient {
    margin-bottom: 150px;
}


/*NAVBAR*/
#nav-main {
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: solid 1px gray;
}

.list-nav-main {
    border: 0px !important;
    background-color: inherit !important;
    color: inherit;
}

#user-icon-nav {
    font-size: 14px;
}

.nav-colored {
    background-color: white;
    color: black; 
}

.nav-colored img {
    filter: invert(100);
}

.nav-transparent {
    background-color:transparent;
    color: white;
}


/*SLOGAN*/
#slogan-main {
    color: white;
    vertical-align: middle;
}

#slogan-main > h1 {
    font-size: 60px;
    margin-right: 50px;
}


/*FORMULAIRE D'INSCRIPTION*/
#div-signin-form {
    background-color: white;
    padding: 10%;
    margin-left: 100px;
}

#homepage-signin-form {
    margin-top: 50px;
    text-align: center;
}


/*CAROUSEL*/
#carousel-row {
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px gray;
    margin-right: 0;
}


/*LES 3 METHODES DE SPACE*/
#methods-tab {
    background-color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin-right: 0;
    margin-left: 0;
}

#v-pills-tab {
    border-right: solid 7px rgba(100, 111, 121, 0.06);
    box-shadow: 26px 0px 26px -12px rgba(100, 111, 121, 0.06);
    padding-bottom: 20px;
}

#methods-h4 {
    padding: 30px 75px 30px 15px;
}

#v-pills-features-tab, #v-pills-keybenefits-tab, #v-pills-components-tab {
    color: black;
}


#v-pills-features-tab:focus, #v-pills-keybenefits-tab:focus, #v-pills-components-tab:focus {
   background-color: transparent;
   color: #21c87a;
   outline: none;
}    

.nav-pills .nav-link.active {
    background-color: transparent !important;
    border-right: solid #21c87a 4px;
    border-radius: 0;
    margin-right: -4px;
}

.card {
    border-color: transparent !important;
}

.card-body > img {
    max-width: 20%;
}

.card-body > h3 {
    margin-top: 20px;
}

.u-label {
    color: #796eff;
    padding: 10px;
    border-radius: 25%;
    background-color:rgba(121, 110, 255, 0.1);
    font-size: 10px;
    margin-bottom: 10px;
}

.card-link,.fa-angle-right {
    color: #21c87a;
}


/*DIMENSIONS DES ELEMENTS EN FONCTION DE LA TAILLE DU MEDIA*/
@media (min-width: 600px) {
    body {
        background-image: linear-gradient(0deg,rgba(0,0,0,0) 0%,rgba(21,27,38,0.5) 100%), url('/img/img4.jpg');
        background-size: 100vw;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .signin-button {
        min-width: 100px; 
    }
}

@media (max-width: 600px) {
    body {
        background-image:url('/img/img4.jpg'); 
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
